/*Devalkumar Mistry 8925339*/
body
{
    font: normal normal normal 12px/1.5 Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;

    background-color: hsla(297, 58%, 62%, 0.5);
}
h2{
    color: #fff;
    font-size: 2em;
    
}
header{
    background-color: hsl(201, 69%, 46%);
}
main{
    float: left;
    width: 65vw;
    height: 60vh;
    background-color: hsl(201, 42%, 57%);
}
aside{
    float: right;
    width: 25vw;
    height: 60vh;
    background-color: hsl(201, 56%, 68%);
}
footer{
    clear: both;
    background-color: hsl(178, 64%, 55%);
}
.structural{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}
#para1{
    color: rgb(135, 56, 56);
}
#para2{
    color: rgb(48, 63, 50);
}
a:hover{
    color: #f00;
}
footer p {
    font-size: .75em;
}